:root {
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
}

html {
    font-size: 10px;
    box-sizing: border-box;
    font-family: sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

h1 {
    font-size: 6rem;
}

.scelta-cpu {
    height: 150px;
    width: 150px;
    font-size: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gioca-di-nuovo {
    display: none;
}

.scelte-giocatore {
    font-size: 6rem;
    display: flex;
    gap: 6.4rem;
}

.scelta {
    appearance: none;
    font-size: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.scelta:disabled {
    cursor: not-allowed;
}

.scelta span {
    display: block;
    text-align: center;
    pointer-events: none;
}

.scelta span:last-child {
    font-size: 2.5rem;
}

.messaggio {
    font-size: 4rem;
    text-align: center;
    height: 50px;
}